.App{
  /* height: 100vh; */
}

.container {
  display: flex;
    height: 80vh; /* Adjust the height as needed */
    max-width: 80%; /* Adjust the max-width as needed */
    margin:auto;
}
.video-container {
  flex: 1;
  background-color: #f0f0f0;
  position: relative;
  overflow: hidden;
}
.video-container video {
  width: 100%;
  height: auto;
  min-height: 100%;
  object-fit: contain;
}

.transcript-container {
  flex: 0 0 22%;
  overflow-y: auto;
  position: relative;
}

.toggle-button {
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}

.transcript {
  padding: 20px;
  height: 100%; 
  box-sizing: border-box;
}

.transcript p {
  padding: 5px;
  transition: background-color 0.5s ease;
  cursor: pointer; 
}

.transcript p.active {
  background-color: #b9bff5;
  font-weight: bold;
}
.btn-container {
  position: sticky;
  top: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  align-self: auto;
}

.button {
  align-items: center;
  align-self: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  cursor: pointer;
}

.button:active,
.button:hover {
  outline: 0;
}

.button span {
  background-color:#5B42F3;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  width: 100%;
  transition: 300ms;
}

.button:hover span {
  background: none;
}

@media (min-width: 950px) {
  .button {
    font-size: 24px;
    min-width: 196px;
  }
  
}
@media (max-width:1200px) {
  .container{
    max-width:none; 
  }
}